@font-face {
  font-family: "MyriadProBold";
  src: url(../src/assets/MyriadPro-Bold.woff) format("woff");
}

@font-face {
  font-family: "MyriadProRegular";
  src: url(../src/assets/MyriadPro-Regular.woff) format("woff");
}

body {
  margin: 0;
  font-family: inherit;
}
